/*#163E6C, #D20A11, #EBE6D6.*/
header {
    border-radius: 15px;
    color: #EBE6D6;
    background: #163E6C;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
}


#btn-head {
    margin-right: 5%;
}

h2{
    background-color: #4690e5;
    border-radius: 10px;
}


.logo {
    width:200px;
}

